<div>
{{owner.name}}
</div>

<div>
{{owner.age}}
</div>

<div>
{{owner.city}}
</div>

<div>
{{owner.handle}}
</div>

<div>
{{owner.imgLink}}
</div>

<div>
<a class="btn btn-light" href="/{{owner.id}}/edit">Edit</a>

<form class="delete-form"action="/{{owner.id}}?_method=DELETE" method="POST">
<input class="btn btn-light" type="submit" value="DELETE">
</form>
</div>