<div>
{{restaurant.name}}
</div>

<div>
{{restaurant.address}}
</div>

<div>
{{restaurant.rating}}
</div>

<div>
{{restaurant.patio}}
</div>

<div>
{{restaurant.imgLink}}
</div>


 <div>
        <a class="btn btn-light" href="/restaurants/{{restaurant.id}}/edit">EDIT</a>
        
        <form class="delete-form"action="/restaurants/{{restaurant.id}}?_method=DELETE" method="POST">
            <input class="btn btn-light" type="submit" value="DELETE">
        </form>
</div>