<div align="center" style="color:white;" class="showRestaurant">
<h3>{{restaurant.name}}<h3>
<br>
<img class="img-banner" src={{restaurant.imgLink}} alt="{{restaurant.name}}" height="200" width="200">
</div>


<div align="center" style="color:white;" class="showRestaurant">

<h4>{{restaurant.address}}</h4>

<h4>{{restaurant.rating}} Stars</h4>

<h4>Outdoor patio: {{restaurant.patio}}</h4>

</div>


<div class="text-center">

<form class="delete-form"action="/restaurants/{{restaurant.id}}?_method=DELETE" method="POST">
<input class="btn btn-light" type="submit" value="Delete">
</form>
</div>